<div class="row">
  <div class="col-md-8 col-md-push-4">
    <div class="page-header">
      <h1>Timeline</h1>
    </div>
    <% @statuses.each do |status| %>
    <div class="status">
      <strong><%= status.name %></strong>
      <p><%= status.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
        <span class="admin">
          | <%= link_to "Edit", edit_status_path(status) %> | 
          <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
        </span>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-4 col-md-pull-8">
    <div class="page-header">
      <h1>New Status</h1>
    </div>
    <form accept-charset="UTF-8" action="/statuses" class="new_status" id="new_status" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="n4AhNuFOHFsJpsY3xIlB8cFocL2WXegfReVNGguGDPY=" /></div>
          <div class="field">
            <label for="status_name">Name</label><br>
            <input class="form-control" id="status_name" name="status[name]" type="text" />
        </div>
      <div class="field">
        <label for="status_content">What's going on?</label><br>
        <textarea class="form-control" rows= id="status_content" name="status[content]">
    </textarea>
      </div>
      <div class="actions">
        <input class="btn, btn-success" name="commit" type="submit" value="Create Status" />
      </div>
    </form>
    </div>
  </div>
</div>

